

.header .nav-brand{
   font: 24px;
   font-weight:700;
   line-height: 16px;
   background: linear-gradient(to right,#40ffa3, #274A99);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
 .header .nav-link{
   font-weight: 400;
   font-size: 14px;
   color:var(--color-white)!important
   
 }

 .header .nav-link.active{
   color: var(--color-primary)!important;
 }
 
 .navbar .bar-icon {
   
   color: white;
   border: 0!important;;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 16px;
   font-weight: 900
 }
 