.intro .row{
   max-width: 90%;
}


.intro{
   height: max-content;
   padding: 3rem 0rem;;
}

.intro .a_img{
   max-width: 70%;
   background: linear-gradient(45deg,transparent,var(--color-primary),transparent);
   border-radius: 2rem;
}
.intro .a_cont>h1{
   font-size: 28px 
    
}

.intro .a_img>img{
   border-radius: .5rem  2rem;  
   overflow: hidden;
  
    width: 70%;
    object-fit: cover;
    max-width: 100%;
    transition: var(--transtion);
}
 


@media (max-width:992px) {
   .intro .row{
      max-width: 100%;
   }
   .intro{
      height: max-content;
      padding: 2rem 0rem;;
   }
   .intro .a_cont>h1{
      font-size: 24px!important;
      margin-bottom: 10px;
   }
}
@media (max-width:768px) {
   
   .intro .a_cont > h1{
      font-size: 22px;
      margin-bottom: 8px;
   }
}
@media (max-width:576px) {
   .intro .a_cont>h1{
      font-size: 20px!important;
      margin-bottom: 5px;
   }
}